<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_test') }}">Test</a></li>
        <li><a href="{{ path('serie_list') }}">Serie List</a></li>
        <li><a href="{{ path('serie_add') }}">Add a new Serie</a></li>
    </ul>
</nav>